.message__form {
  position: fixed;
  width: 75%;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 35px 0;
  cursor: pointer;
  // background-color: #fcfcfc;
  // box-shadow: -1px -50px 34px -6px #fcfcfc;
}

.message__input {
  border: 1px solid #655ba0;
  border-radius: 5px;
  font-family: inherit;
  color: #655ba0;
  outline: none;
  padding: 10px;
  width: inherit;

  &::placeholder {
    color: #b4b0cf;
    font-family: inherit;
  }
}

.message__input--icon {
  background-color: #655ba0;
  border-radius: 50%;
  width: 25px;
  padding: 7px;
  margin-left: 20px;
  cursor: pointer;
}
